extends layout

block content
  .container-fluid
    .row
      .col-lg-12
        a#menu-toggle.btn.btn-default(href='#menu-toggle') Piilota/näytä valikko
        button#excelImport.btn.btn-default.pull-right Vie Exceliin
        h1 #{state}
        table#applicationTable
          thead
            tr
              th Nimi
              th Osoite
              th Puhelin
              th Email
          tbody
            each application in applications
              tr(data-application-id=application._id)
                td
                  | #{application.firstName} #{application.lastName}
                td 
                  | #{application.address} #{application.zipcode} #{application.city}
                td #{application.phone}
                td #{application.email}