doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Vastaanotettu hakemus
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href=root+'/css/animate.css')
    script
      | var SERVER_ROOT = "#{root}"; 
  body
    input#applicationId(type='hidden', value=application.id)
    .container
      h3 Hakemus linjalle: nettilukio
      p
        span.label.label-info Lähetetty:
        span #{application.added}
      .row
        .col-md-6
          h4 Henkilötiedot
          p
            span.label.label-info Sukunimi:
            span #{application.lastName}
          p
            span.label.label-info Etunimet:
            span #{application.firstName}
          p
            span.label.label-info Lähiosoite:
            span #{application.address}
          p
            span.label.label-info Postinumero:
            span #{application.zipcode}
          p
            span.label.label-info Postitoimipaikka:
            span #{application.city}
          p
            span.label.label-info Maa:
            span #{application.country}
          p
            span.label.label-info Kotikunta:
            span #{application.municipality}
          p
            span.label.label-info Äidinkieli:
            span #{application.language}
          p
            span.label.label-info Kansalaisuus:
            span #{application.nationality}
          p
            span.label.label-info Syntymäaika:
            span #{application.birthday}
          p
            span.label.label-info Henkilötunnuksen loppu:
            span #{application.ssn}
          p
            span.label.label-info Sukupuoli:
            if application.sex == 'male'
              span Mies
            else
              span Nainen
          p
            span.label.label-info Sähköpostiosoite:
            span #{application.email}
          p
            span.label.label-info Puhelinnumero:
            span #{application.phone}
          p
          br
          if application.parent
            h4 Perusteet alaikäisen hakuun ja huoltajan tiedot
            p
              span.label.label-info Alaikäisen hakuperusteet:
              span #{application.parent.argumentForMinor}
            p
              span.label.label-info Sukunimi:
              span #{application.parent.lastName}
            p
              span.label.label-info Etunimet:
              span #{application.parent.firstName}
            p
              span.label.label-info Lähiosoite:
              span #{application.parent.address}
            p
              span.label.label-info Postinumero:
              span #{application.parent.zipcode}
            p
              span.label.label-info Postitoimipaikka:
              span #{application.parent.city}
            p
              span.label.label-info Maa:
              span #{application.parent.country}
          h4 Muut tiedot
          p
            span.label.label-info Opiskelutavoitteet:
            span #{application.nationality}
          p
            span.label.label-info Aiemmat opinnot:
            span #{application.nationality}
          p
            span.label.label-info Tällä hetkellä oppilaitoksessa:
            span #{application.nationality}
          p
            span.label.label-info Tällä hetkellä:
            span #{application.nationality}
          p
            span.label.label-info Lisätietoja:
            span #{application.nationality}
          br
          h4 Löysi meidät
          p
            span.label.label-info Löysi meidät:
            span #{application.heardFrom.join()}
          p
            span.label.label-info Tarkennus:
            span #{application.heardFromInfo}
          br
          h4 Liitteet
            ul
              each appendix in appendices
                li
                  a(href=root+'/upload/'+appendix._id, target='blank') #{appendix.originalname}
        .col-md-6.staff-fields
          img#loader-img(src='/img/ajax-loader.gif', style='display:none;float:left;')
          label.col-md-4.control-label(for='stateInput') Hakemuksen tila:
          br
          .radio
            label(for='stateInput-0')
              input#stateInput-0(name='state', value='APPLIED', checked=application.state == 'APPLIED', type='radio')
              | Vastaanotettu
          .radio
            label(for='stateInput-1')
              input#stateInput-1(name='state', value='INPROGRESS', checked=application.state == 'INPROGRESS', type='radio')
              | Otettu käsittelyyn
          .radio
            label(for='stateInput-2')
              input#stateInput-2(name='state', value='WAITING_OFFICIAL_APPROVAL', checked=application.state == 'WAITING_OFFICIAL_APPROVAL', type='radio')
              | Odottaa virallista hyväksyntää
          .radio
            label(for='stateInput-3')
              input#stateInput-3(name='state', value='APPROVAL_SIGNED', checked=application.state == 'APPROVAL_SIGNED', type='radio')
              | Hyväksyntä allekirjoitettu
          .radio
            label(for='stateInput-4')
              input#stateInput-4(name='state', value='WAITING',checked=application.state == 'WAITING', type='radio')
              | Odottaa
          .radio
            label(for='stateInput-5')
              input#stateInput-5(name='state', value='RECEIVED', checked=application.state == 'RECEIVED', type='radio')
              | Paikka vastaanotettu
          .radio
            label(for='stateInput-6')
              input#stateInput-6(name='state', value='APPROVED', checked=application.state == 'APPROVED', type='radio')
              | Hyväksytty
          .radio
            label(for='stateInput-7')
              input#stateInput-7(name='state', value='REJECTED', checked=application.state == 'REJECTED', type='radio')
              | Hylätty
          br
          .form-group
            label(for='new-comment-input') Lisää merkintä
            textarea#new-comment-input.form-control
          button#add-comment-btn.btn.btn-primary Tallenna
          .comment-List
            each comment in comments
              .panel.panel-info
                .panel-heading #{comment.user} #{comment.added}
                .panel-body #{comment.text}
    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/locales/bootstrap-datepicker.fi.min.js')
    script(src=root+'/lib/moment-with-locales.min.js')
    script(src=root+'/lib/jquery.noty.packaged.min.js')
    script(src=root+'/js/application.js')