doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title #{application.firstName} #{application.lastName} kesätyöhakemus
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href=root+'/css/animate.css')
    script
      | var SERVER_ROOT = "#{root}"; 
  body
  - var getLanguageSkill = function(code){  
  -   if(code === 'bad'){
  -      return 'auttava';
  -    }else if(code == 'ok'){
  -      return 'kohtalainen';
  -    }else if(code == 'good'){
  -      return 'hyvä';
  -    }
  - }
    input#applicationId(type='hidden', value=application.id)
    .container
      h3 Kesätyöhakemus
      p Lähetetty: 
        span#application-added(data-added=application.added)
      .row
        .col-md-6
          p
            b Hakija:
          address
            strong #{application.firstName} #{application.lastName}
            br
            | #{application.address}
            br
            | #{application.zipcode} #{application.city}
            br
            abbr(title='Puhelin') Puh:
            | #{application.phone}
            br
            a(href='mailto:'+application.email) #{application.email}
            br
            br
            p
              b Synt.aika: 
              span#applicant-birthday #{application.birthday}
            p
              b Sukupuoli: 
              span#applicant-sex #{application.sex}
            p
              b Synt.paikka: 
              | #{application.placeOfBirth}
            p
              b Kotipaikka: 
              | #{application.home}
            p
              b Ajokortti: 
              each licence in application.driversLicence
                  | #{licence}, 
            p
              b Ajokortin hankintavuosi: 
              | #{application.driversLicenceYear}
            p
              b Koulutus:
              br
              | #{application.education}
            p
              b Kokemus:
              br
              | #{application.previousExpericence}
            p
              b ATK-taidot:
              br
              | #{application.itSkills}
            if application.previouslyEmployed
              p Työskennellyt aikaisemmin Mikkelin kaupungille: #{application.whenEmployed}
            else
              p Ei työskennellyt aikaisemmin Mikkelin kaupungille
            p
              b Allergiat:
              ul
                each allergy in application.allergies
                  li #{allergy}
            p
              b Kielitaito:
              ul
                li Englanti: 
                  if(application.languages.english)
                    | #{getLanguageSkill(application.languages.english)}
                  else
                    | Ei
                li Ruotsi: 
                  if(application.languages.swedish)
                    | #{getLanguageSkill(application.languages.swedish)}
                  else
                    | Ei
                li Saksa: 
                  if(application.languages.german)
                    | #{getLanguageSkill(application.languages.german)}
                  else
                    | Ei
            p
              b Sopiva työskentelyjakso
              ul
                each period in application.suitableWorkingPeriod
                  li #{period}
            p
              b Käytettävissä olevat kulkuneuvot
              ul
                each transport in application.transportation
                  li #{transport}
            p
              b Harrastukset yms:
              br
              | #{application.additionalInfo}
            p
              b Ensisijainen hakutoive:
              br
              each position in positions
                each job in position.jobs
                  if job.code == application.primaryRequest
                    | #{position.department} / #{job.name}
            p
              b Toissijainen hakutoive:
              br
              each position in positions
                each job in position.jobs
                  if job.code == application.secondaryRequest
                    | #{position.department} / #{job.name}
            if application.othersOk
              p On valmis vastaanottamaan myös muuta työtä.
            else
              p Ei ole valmis vastaanottamaan muuta työtä.
            p
              b Perusohjaajakurssit:
              br
              | #{application.basicDirectorCourses}
            p
              b Lajiohjaajakurssit:
              br
              | #{application.fieldDirectorCourses}
        .col-md-6.staff-fields
          img#loader-img(src='/img/ajax-loader.gif', style='display:none;float:left;')
          label.col-md-4.control-label(for='stateInput') Hakemuksen tila:
          br
          .radio
            label(for='stateInput-0')
              if application.state == 'waiting'
                input#stateInput-0(name='state', value='waiting', checked='checked', type='radio')
              else
                input#stateInput-0(name='state', value='waiting', type='radio')
              | Käsittelemättä
          .radio
            label(for='stateInput-1')
              if application.state == 'processing'
                input#stateInput-1(name='state', value='processing', checked='checked', type='radio')
              else
                input#stateInput-1(name='state', value='processing', type='radio')
              | Käsittelyssä
          .radio
            label(for='stateInput-2')
              if application.state == 'reserved'
                input#stateInput-2(name='state', value='reserved', checked='checked', type='radio')
              else
                input#stateInput-2(name='state', value='reserved', type='radio')
              | Varattu
          .radio
            label(for='stateInput-3')
              if application.state == 'notified'
                input#stateInput-3(name='state', value='notified', checked='checked', type='radio')
              else
                input#stateInput-3(name='state', value='notified', type='radio')
              | Ilmoitettu
          .radio
            label(for='stateInput-4')
              if application.state == 'confirmed'
                input#stateInput-4(name='state', value='confirmed',checked='checked', type='radio')
              else
                input#stateInput-4(name='state', value='confirmed', type='radio')
              | Tulo varmistettu
          .radio
            label(for='stateInput-5')
              if application.state == 'contract'
                input#stateInput-5(name='state', value='contract', checked='checked', type='radio')
              else
                input#stateInput-5(name='state', value='contract', type='radio')
              | Työsopimus tehty
          .radio
            label(for='stateInput-6')
              if application.state == 'denied'
                input#stateInput-6(name='state', value='denied', checked='checked', type='radio')
              else
                input#stateInput-6(name='state', value='denied', type='radio')
              | Hylätty
          br
          label.col-md-4.control-label(for='unitInput') Yksikkö:
          br
          select#unitInput.form-control(name='organizationalUnit')
            option(value='') Valitse...
            each position in positions
              option(value=position.department, selected=application.organizationalUnit == position.department) #{position.department}
          br
          label.col-md-4.control-label(for='jobInput') Tehtävä:
          br
          select#jobInput.form-control(name='job')
            option(value='') Valitse...
              each position in positions
                optgroup(label=position.department)
                  each job in position.jobs
                    option(value=job.code, selected=application.job == job.code) #{job.name}
          br
          label.col-md-4.control-label(for='bossTitleInput') Esimiehen titteli:
          br
          input#bossTitleInput.form-control(type='text', name='bossTitle', value=application.bossTitle)
          br
          label.col-md-4.control-label(for='bossNameInput') Esimiehen nimi:
          br
          input#bossNameInput.form-control(type='text', name='bossName', value=application.bossName)
          br
          label.col-md-4.control-label(for='jobTimeInput') Viikkotyöaika:
          br
          select#jobTimeInput.form-control(name='workingHours')
            option(value='30', selected=application.workingHours == 30) 30 tuntia
          br
          label.col-md-4.control-label(for='salaryInput') Kuukausipalkka:
          br
          input#salaryInput.form-control(type='text', name='salary', value=application.salary)
          br
          label.col-md-4.control-label(for='startDateInput') Aloituspäivä:
          br
          input#startDateInput.form-control(type='date', name='startDate', value=application.startDate)
          br
          label.col-md-4.control-label(for='endDateInput') Lopetuspäivä:
          br
          input#endDateInput.form-control(type='date', name='endDate', value=application.endDate)
          br
          label.col-md-4.control-label(for='ssnInput') Hetu:
          br
          input#ssnInput.form-control(type='text', name='ssn', value=application.ssn)
          br
          label.col-md-4.control-label(for='bankInfoInput') Pankkitili:
          br
          input#bankInfoInput.form-control(type='text', name='bankAccont', value=application.bankAccont)
          br
          label.col-md-4.control-label(for='huomInput') Lisätietoja:
          br
          textarea#huomInput.form-control(name='info')
            | #{application.info}
          br
          br
    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/locales/bootstrap-datepicker.fi.min.js')
    script(src=root+'/lib/moment-with-locales.min.js')
    script(src=root+'/lib/jquery.noty.packaged.min.js')
    script(src=root+'/js/application.js')