doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title #{application.firstName} #{application.lastName} kesätyöhakemus
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
  body
    .container
      h3 kesätyöhakemus
      p Hakija:
      address
        strong #{application.firstName} #{application.lastName}
        br
        | #{application.address}
        br
        | #{application.zipcode} #{application.city}
        br
        abbr(title='Puhelin') Puh:
        | #{application.phone}
        br
        a(href='mailto:'+application.email) #{application.email}
      br
      p
        b Synt.aika: 
        | #{application.birthday}
      p
        b Sukupuoli: 
        | #{application.sex}
      p
        b Synt.paikka: 
        | #{application.placeOfBirth}
      p
        b Kotipaikka: 
        | #{application.home}
      p
        b Ajokortti: 
        each licence in application.driversLicence
            | #{licence},
      p
        b Ajokortin hankintavuosi: 
        | #{application.driversLicenceYear}
      p
        b Koulutus:
        br
        | #{application.education}
      p
        b Kokemus:
        br
        | #{application.previousExpericence}
      p
        b ATK-taidot:
        br
        | #{application.itSkills}
      if application.previouslyEmployed
        p Työskennellyt aikaisemmin Mikkelin kaupungille: #{application.whenEmployed}
      else
        p Ei työskennellyt aikaisemmin Mikkelin kaupungille
      p
        b Allergiat:
        ul
          each allergy in application.allergies
            li #{allergy}
    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='/lib/moment-with-locales.min.js')
