doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Mikkelin kaupungin kesätyöhakemus
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href=root+'/css/jquery.fileupload.css')
    link(rel='stylesheet', href=root+'/css/animate.css')
    link(rel='stylesheet', href=root+'/css/main.css')
    script
      | var SERVER_ROOT = "#{root}"; 
  body
    .container
      .row
        .col-md-4
        .col-md-4
          br
          img.img-responsive.center-block(src=root+'/img/city_logo.jpg')
        .col-md-4
      form.form-horizontal#main-form
        fieldset
          br
          br
          // Text input
          .form-group
            label.col-md-4.control-label(for='firstnameInput') Etunimi
            .col-md-4
              input#firstnameInput.form-control.input-md(name='firstnameInput', placeholder='etunimi', required='', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label(for='lastnameInput') Sukunimi
            .col-md-4
              input#lasnameInput.form-control.input-md(name='lastnameInput', placeholder='sukunimi', required='', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label(for='addressInput') Katuosoite
            .col-md-4
              input#addressInput.form-control.input-md(name='addressInput', placeholder='katuosoite', required='', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label(for='zipcodeInput') Postinumero
            .col-md-4
              input#zipcodeInput.form-control.input-md(name='zipcodeInput', placeholder='postinumero', required='', pattern='[0-9]{5}', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label(for='cityInput') Postitoimipaikka
            .col-md-4
              input#cityInput.form-control.input-md(name='cityInput', placeholder='postitoimipaikka', required='', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label(for='phoneInput') Puhelinnumero
            .col-md-4
              input#phoneInput.form-control.input-md(name='phoneInput', placeholder='puhelinnumero', required='', pattern='[+358|+46]?\\d{6,15}', type='tel')
          // Text input
          .form-group
            label.col-md-4.control-label(for='birthdayInput') Syntymäaika
            .col-md-4
              input#birthdayInput.form-control.input-md(name='birthdayInput', placeholder='syntymäaika', required='', type='text', data-type='date')
          // Multiple Radios
          .form-group
            label.col-md-4.control-label(for='sexInput') Sukupuoli
            .col-md-4
              .radio
                label(for='sexInput-0')
                  input#sexInput-0(name='sexInput', value='male', checked='checked', type='radio')
                  |       Mies
              .radio
                label(for='sexInput-1')
                  input#sexInput-1(name='sexInput', value='female', type='radio')
                  |       Nainen
          // Text input
          .form-group
            label.col-md-4.control-label(for='emailInput') Sähköpostiosoite
            .col-md-4
              input#emailInput.form-control.input-md(name='emailInput', placeholder='sähköpostiosoite', required='', type='email')
          // Text input
          .form-group
            label.col-md-4.control-label(for='placeofbirthInput') Syntymäpaikka
            .col-md-4
              input#placeofbirthInput.form-control.input-md(name='placeofbirthInput', placeholder='syntymäpaikka', required='', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label(for='homeInput') Kotipaikka
            .col-md-4
              input#homeInput.form-control.input-md(name='homeInput', placeholder='kotipaikka', required='', type='text')
          // Multiple Checkboxes (inline)
          .form-group
            label.col-md-4.control-label(for='driversLicenceInput') Ajokortin tyyppi / hankintavuosi
            .col-md-4
              label.checkbox-inline(for='driversLicenceInput-0')
                input#driversLicenceInput-0(name='driversLicenceInput', value='M', type='checkbox')
                |       M
              label.checkbox-inline(for='driversLicenceInput-1')
                input#driversLicenceInput-1(name='driversLicenceInput', value='A1', type='checkbox')
                |       A1
              label.checkbox-inline(for='driversLicenceInput-2')
                input#driversLicenceInput-2(name='driversLicenceInput', value='B', type='checkbox')
                |       B
              label.checkbox-inline(for='driversLicenceInput-3')
                input#driversLicenceInput-3(name='driversLicenceInput', value='C', type='checkbox')
                |       C
              label.checkbox-inline(for='driversLicenceInput-4')
                input#driversLicenceInput-4(name='driversLicenceInput', value='D', type='checkbox')
                |       D
              label.checkbox-inline(for='driversLicenceInput-5')
                input#driversLicenceInput-5(name='driversLicenceInput', value='T', type='checkbox')
                |       T
              label.checkbox-inline(for='driversLicenceInput-6')
                input#driversLicenceInput-6(name='driversLicenceInput', value='A', type='checkbox')
                |       A
              label.checkbox-inline(for='driversLicenceInput-7')
                input#driversLicenceInput-7(name='driversLicenceInput', value='C1', type='checkbox')
                |       C1
              label.checkbox-inline(for='driversLicenceInput-8')
                input#driversLicenceInput-8(name='driversLicenceInput', value='D1', type='checkbox')
                |       D1
              label.checkbox-inline(for='driversLicenceInput-9')
                input#driversLicenceInput-9(name='driversLicenceInput', value='BE', type='checkbox')
                |       BE
          // Text input
          .form-group
            label.col-md-4.control-label(for='driverslicenceyearInput')
            .col-md-4
              input#driverslicenceyearInput.form-control.input-md(name='driverslicenceyearInput', placeholder='hankintavuosi', disabled='', pattern='[0-9]{4}', type='text')
          // Textarea
          .form-group
            label.col-md-4.control-label(for='educationInpuit') Koulutus, oppilaitos ja luokka
            .col-md-4
              textarea#educationInpuit.form-control(name='educationInpuit', required='')
          // Textarea
          .form-group
            label.col-md-4.control-label(for='experienceInput') Aikaisempi työkokemus/alan työkokemus
            .col-md-4
              textarea#experienceInput.form-control(name='experienceInput', required='')
          // Textarea
          .form-group
            label.col-md-4.control-label(for='itskillsInput') ATK-taidot
            .col-md-4
              textarea#itskillsInput.form-control(name='itskillsInput', required='')
          // Multiple Radios (inline)
          .form-group
            label.col-md-4.control-label(for='previouslyEmployedInput') Oletko työskennellyt aiemmin Mikkelin kaupungilla palkallisessa kesätyössä
            .col-md-4
              label.radio-inline(for='previouslyEmployedInput-0')
                input#previouslyEmployedInput-0(name='previouslyEmployedInput', value='false', checked='checked', type='radio')
                |       En
              label.radio-inline(for='previouslyEmployedInput-1')
                input#previouslyEmployedInput-1(name='previouslyEmployedInput', value='true', type='radio')
                |       Kyllä
          // Text input
          .form-group
            label.col-md-4.control-label(for='whenEmployedInput') Jos olet niin milloin (Pelkkä vuosiluku)
            .col-md-4
              input#whenEmployedInput.form-control.input-md(name='whenEmployedInput', placeholder='milloin', disabled='', type='text')
          // Multiple Checkboxes
          .form-group
            label.col-md-4.control-label(for='allergiesInput') Allergiat
            .col-md-4
              .checkbox
                label(for='allergiesInput-0')
                  input#allergiesInput-0(name='allergiesInput', value='Siitepöly', type='checkbox')
                  |       Siitepöly
              .checkbox
                label(for='allergiesInput-1')
                  input#allergiesInput-1(name='allergiesInput', value='Heinä', type='checkbox')
                  |       Heinä
              .checkbox
                label(for='allergiesInput-2')
                  input#allergiesInput-2(name='allergiesInput', value='Hyönteisten puremat', type='checkbox')
                  |       Hyönteisten puremat
          // Text input
          .form-group
            label.col-md-4.control-label(for='otherAllergies')
            .col-md-4
              input#otherAllergies.form-control.input-md(name='otherAllergies', placeholder='muut', type='text')
          // Multiple Radios
          .form-group
            label.col-md-4.control-label(for='englishInput') Kielitaito
            .col-md-4
              .radio
                label(for='englishInput-2')
                  input#englishInput-2(name='englishInput', value='', type='radio', checked='checked')
                  |       Englanti, ei ollenkaan
              .radio
                label(for='englishInput-2')
                  input#englishInput-2(name='englishInput', value='bad', type='radio')
                  |       Englanti, auttava
              .radio
                label(for='englishInput-1')
                  input#englishInput-1(name='englishInput', value='ok', type='radio')
                  |       Englanti, tyydyttävä
              .radio
                label(for='englishInput-0')
                  input#englishInput-0(name='englishInput', value='good', type='radio')
                  |       Englanti, hyvä
          // Multiple Radios (inline)
          .form-group
            label.col-md-4.control-label(for='swedishInput')
            .col-md-4
              .radio
                label(for='swedishInput-3')
                  input#swedishInput-2(name='swedishInput', value='', type='radio', checked='checked')
                  |       Ruotsi, ei ollenkaan
              .radio
                label(for='swedishInput-2')
                  input#swedishInput-2(name='swedishInput', value='bad', type='radio')
                  |       Ruotsi, auttava
              .radio
                label(for='swedishInput-1')
                  input#swedishInput-1(name='swedishInput', value='ok', type='radio')
                  |       Ruotsi, tyydyttävä
              .radio
                label(for='swedishInput-0')
                  input#swedishInput-0(name='swedishInput', value='good', type='radio')
                  |       Ruotsi, hyvä
          // Multiple Radios (inline)
          .form-group
            label.col-md-4.control-label(for='germanInput')
            .col-md-4
              .radio
                label(for='germanInput-2')
                  input#germanInput-2(name='germanInput', value='', type='radio', checked='checked')
                  |       Saksa, ei ollenkaan
              .radio
                label(for='germanInput-2')
                  input#germanInput-2(name='germanInput', value='bad', type='radio')
                  |       Saksa, auttava
              .radio
                label(for='germanInput-1')
                  input#germanInput-1(name='germanInput', value='ok', type='radio')
                  |       Saksa, tyydyttävä
              .radio
                label(for='germanInput-0')
                  input#germanInput-0(name='germanInput', value='good', type='radio')
                  |       Saksa, hyvä
          // Multiple Checkboxes (inline)
          .form-group
            label.col-md-4.control-label(for='suitableWorkingPeriodInput') Sopivin työjakso
            .col-md-4
              label.checkbox-inline(for='suitableWorkingPeriodInput-0')
                input#suitableWorkingPeriodInput-0(name='suitableWorkingPeriodInput', value='huhtikuu', type='checkbox')
                |       huhtikuu
              label.checkbox-inline(for='suitableWorkingPeriodInput-3')
                input#suitableWorkingPeriodInput-3(name='suitableWorkingPeriodInput', value='toukokuu', type='checkbox')
                |       toukokuu                
              label.checkbox-inline(for='suitableWorkingPeriodInput-1')
                input#suitableWorkingPeriodInput-1(name='suitableWorkingPeriodInput', value='kesäkuu', type='checkbox')
                |       kesäkuu
              label.checkbox-inline(for='suitableWorkingPeriodInput-4')
                input#suitableWorkingPeriodInput-4(name='suitableWorkingPeriodInput', value='heinäkuu', type='checkbox')
                |       heinäkuu
              label.checkbox-inline(for='suitableWorkingPeriodInput-2')
                input#suitableWorkingPeriodInput-2(name='suitableWorkingPeriodInput', value='elokuu', type='checkbox')
                |       elokuu
              label.checkbox-inline(for='suitableWorkingPeriodInput-5')
                input#suitableWorkingPeriodInput-5(name='suitableWorkingPeriodInput', value='syyskuu', type='checkbox')
                |       syyskuu
          // Multiple Checkboxes
          .form-group
            label.col-md-4.control-label(for='transportationInput') Mahdollisuus käyttää omaa kulkuvälinettä
            .col-md-4
              .checkbox
                label(for='transportationInput-0')
                  input#transportationInput-0(name='transportationInput', value='Polkupyörä', type='checkbox')
                  |       Polkupyörä
              .checkbox
                label(for='transportationInput-1')
                  input#transportationInput-1(name='transportationInput', value='Mopedi/moottoripyörä', type='checkbox')
                  |       Mopedi/moottoripyörä
              .checkbox
                label(for='transportationInput-2')
                  input#transportationInput-2(name='transportationInput', value='Auto', type='checkbox')
                  |       Auto
          // Textarea
          .form-group
            label.col-md-4.control-label(for='additionalInfoInput') Kerro itsestäsi, esim. harrastukset / Mitä odotan tältä työltä
            .col-md-4
              textarea#additionalInfoInput.form-control(name='additionalInfoInput', required='')
          // Textarea
          .form-group
            label.col-md-4.control-label(for='primaryRequestInput') Haen ensisijaisesti seuraavaan toimipisteeseen/työpaikkaan
            .col-md-4
              select#primaryRequestInput.form-control(name='primaryRequestInput', required='')
                option(value='') Valitse...
                each department in positions
                  optgroup(label=department.department)
                    each job in department.jobs
                      option(value=job.code) #{job.name}
          .form-group
            label.col-md-4.control-label(for='secondaryRequestInput') Haen toissijaisesti seuraavaan toimipisteeseen/työpaikkaan
            .col-md-4
              select#secondaryRequestInput.form-control(name='secondaryRequestInput', required='')
                option(value='') Valitse...
                each department in positions
                  optgroup(label=department.department)
                    each job in department.jobs
                      option(value=job.code) #{job.name}

          .form-group
            label.col-md-4.control-label(for='othersOk')
              | Täytä tämä jos olet kiinnostunut ensisijaisten toiveittesi lisäksi muista tehtävistä
            .col-md-4
              label.radio-inline(for='othersOk-0')
                input#othersOk-0(name='othersOk', value='true', checked='checked', type='radio')
                |       Kyllä
              label.radio-inline(for='othersOk-1')
                input#othersOk-1(name='othersOk', value='false', type='radio')
                |       En
          // Textarea
          .form-group
            label.col-md-4.control-label(for='basicDirectorCoursesInput')
              | Jos haet liikunnan tai nuorisotyön ohjaustehtäviin, mitä kursseja olet suorittanut
            .col-md-4
              textarea#basicDirectorCoursesInput.form-control(name='basicDirectorCoursesInput', placeholder='Perusohjaajakurssit')
          // Textarea
          .form-group
            label.col-md-4.control-label(for='fieldDirectorCoursesInput')
            .col-md-4
              textarea#fieldDirectorCoursesInput.form-control(name='fieldDirectorCoursesInput', placeholder='Lajiohjaajakurssit')
          .form-group
            label.col-md-4.control-label
              | Liitteet: (max. 50M)
            .col-md-4
              span.btn.btn-success.fileinput-button
                i.glyphicon.glyphicon-plus
                span &nbsp;valitse liite...
                input#appendixInput(type='file', name='appendix', multiple='multiple', data-url=root+'/upload')
              br
              br
              #progress.progress
                .progress-bar.progress-bar-success
              #files.files
          .form-group
            label.col-md-4.control-label(for='submitAssigmentBtn')
            .col-md-4
              img#loader-img(src=root+'/img/ajax-loader.gif', style='display:none;')
              button#submitAssigmentBtn.btn.btn-lg.btn-primary.pull-right(name='submitAssigmentBtn') Lähetä

    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/locales/bootstrap-datepicker.fi.min.js')
    script(src=root+'/js/jquery.fileupload.js')
    script(src=root+'/lib/moment-with-locales.min.js')
    script(src=root+'/lib/jquery.noty.packaged.min.js')
    script(src=root+'/js/main.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74139205-1', 'auto');
      ga('send', 'pageview');
